.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
}

/* Стили только для попапа удаления карточки */
.popup_type_trash .popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  min-height: 180px;
  padding: 36px 36px 36px 36px;
}

.popup_type_trash .popup__title {
  margin-bottom: 38px;
  text-align: center;
}

.popup_type_trash .popup__button {
  width: 100%;
  margin-top: 0;
}
